.form-container {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 20vh;
    background-color: #0000006b;
    /*border: 10px solid #01011310;*/
    padding: 5%;
}

.form-container > hr {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 1px;
    border: none;
    background-color: #01011342;
}

.form-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form {
    width: fit-content;
    margin: auto;
}

.input-field > input {
    border: none;
    width: 245px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.336);
    color: black;
    border: 1px solid rgba(1, 12, 15, 0.76);
    padding-left: 5px;
    margin-top: 5px;
}

.input-field > textarea {
    border: none;
    width: 245px;
    background-color: rgba(250, 250, 250, 0.336);
    color: black;
    border: 1px solid rgba(1, 12, 15, 0.76);
    padding-left: 5px;
    margin-top: 5px;
}

.input-field {
    margin-top: 10px;
}

.buttons {
    margin-top: 35px;
}

.button {
    border: none;
    height: 45px;
    cursor: pointer;
    width: 48.86408%;
}

.button > a {
    text-decoration: none;
}

.submit {
    background-color: #13789d00;
    border: 1px solid #13789de7;
}

.cancel {
    background-color: #13789d00;
    border: 1px solid #9d132fe7;
}

.submit:hover {
    background-color: #13789d2d;
}

.cancel:hover {
    background-color: #9D132F2d;
}